body {
    background-color: rgb(107, 185, 216);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('/jfif2');
}
img {
    margin-left: auto;
    margin-right: auto;
}
button {
    margin: 20px;
    border-radius: 15px;
}
h1 {
    font-family: 'Roboto', sans-serif;
}